<!-- Lista de endereços (se cliente estiver logado) -->
<div th:if="${session.clienteLogado != null and session.clienteLogado.enderecosEntrega != null and !session.clienteLogado.enderecosEntrega.isEmpty()}"
    class="address-list">
    <div class="address-item"
        th:each="endereco : ${session.clienteLogado.enderecosEntrega}"
        th:data-endereco-id="${endereco.id}"
        th:classappend="${endereco.enderecoPadrao} ? 'selected' : ''"
        onclick="selecionarEndereco(this)">
        <input type="radio" name="enderecoSelecionado" th:value="${endereco.id}"
            th:checked="${endereco.enderecoPadrao}">
        <div class="address-checkbox">
            <div class="checkbox-icon"></div>
            <div class="address-content">
                <div class="address-header">
                    <span class="address-apelido" th:text="${endereco.apelido}">Apelido</span>
                    <span th:if="${endereco.enderecoPadrao}"
                        class="address-badge default">Padrão</span>
                </div>
                <div class="address-details">
                    <span th:text="${endereco.logradouro}">Logradouro</span>,
                    <span th:text="${endereco.numero}">123</span>
                    <span th:if="${endereco.complemento}"
                        th:text="' - ' + ${endereco.complemento}"></span>
                    <br>
                    <span th:text="${endereco.bairro}">Bairro</span> -
                    <span th:text="${endereco.cidade}">Cidade</span>/<span
                        th:text="${endereco.estado}">UF</span>
                    <br>
                    CEP: <span
                        th:text="${#strings.substring(endereco.cep, 0, 5) + '-' + #strings.substring(endereco.cep, 5, 8)}">00000-000</span>
                </div>
            </div>
        </div>
    </div>
</div>